<md-toolbar md-whiteframe="2" layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="app.toogleLeftSidenav()" hide-gt-sm>
            <md-icon md-svg-icon="node_modules/material-design-icons/navigation/svg/production/ic_menu_48px.svg"></md-icon>
        </md-button>
        <h2 flex>Информация о пользователях</h2>
    </div>
</md-toolbar>

<md-content flex>
    <md-card>
        <md-card-header layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-disabled="userInfoCtrl.currentPage == 1" ng-click="userInfoCtrl.nextPage()">
                <md-icon md-svg-icon="node_modules/material-design-icons/image/svg/production/ic_navigate_before_48px.svg"></md-icon>
            </md-button>
            <md-card-title-text>
                <span class="md-headline">Страница {{userInfoCtrl.currentPage}}</span>
            </md-card-title-text>
            <md-button class="md-icon-button" ng-disabled="userInfoCtrl.currentPage*20 >= userInfoCtrl.numberOfUsers" ng-click="userInfoCtrl.prevPage()">
                <md-icon md-svg-icon="node_modules/material-design-icons/image/svg/production/ic_navigate_next_48px.svg"></md-icon>
            </md-button>
        </md-card-header>
        <md-card-content>
            <md-list>
                <md-list-item class="md-1-line" ng-repeat="user in userInfoCtrl.users"
                            ng-click="userInfoCtrl.showAdditionInformation($event, user)">
                    <div class="md-list-item-text">
                        <h3>{{user[1] + " " + user[2]}}</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>
